<style>
  .btn-primary {
    width: 200px;
    float: right;
  }
</style>
<footer class="foooter-css">
  <div class="container pt-4">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-12">
          <div class="flex-row">
            <div class="flex-column">
              <h4>Free Shipping</h4>
              <p class="text-green">Free Shipping World Wide</p>
              <img src="assets/free-shipping-removebg-preview.png" height="100px" />
            </div>
            <div class="flex-column">
              <h4>24 X 7 Service</h4>
              <p class="text-green">Online Service For New Customer</p>
              <img src="assets/247icon.png" height="100px" />


            </div>
            <div class="flex-column">
              <h4>Festival Offer</h4>
              <p class="text-green">New Online Special Festival Offer</p>
              <img src="assets/special-offer-icon.png" height="100px" />

            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="mt-5">
      <div class="row">
        <div class="col-md-3">
          <h3>Blissfull Zoe LLC</h3>
          <hr style="
              border-bottom: 3px solid #f1cd0a;
              height: 1px;
              width: 183px;
              margin-top: 0px;
            " />
          <p>

            Our user-friendly website and secure payment options ensure a worry-free shopping journey, while our fast
            and
            reliable
            shipping gets your purchases to your doorstep in no time. Whether you're looking for the perfect gift or
            treating yourself, XYZ Emporium is your one-stop destination for all your shopping needs. Join our vibrant
            online
            community today and discover the joys of shopping with us.
          </p>
          <ul style="list-style-type: none; padding: 0; display: flex">
            <li style="padding-right: 10px">
              <img src="assets/fb-icon.png" style="width: 20px" />
            </li>
            <li style="padding-right: 10px">
              <img src="assets/twitter.png" style="width: 20px" />
            </li>
            <li style="padding-right: 10px">
              <img src="assets/whats-appicon.png" style="width: 26px" />
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="mt-2">
            <li>
              <h4 class="">MY ACCOUNT</h4>
            </li>
            <hr style="
                border-bottom: 3px solid #f1cd0a;
                height: 1px;
                width: 83px;
                margin-top: 0px;
              " />
            <li>Mens</li>
            <li>Womens</li>
            <li>Clothing</li>
            <li>Accessories</li>
            <li>Featured</li>
          </ul>
        </div>

        <div class="col-md-2">
          <ul class="mt-2">
            <h4>WHY CHOSE US</h4>
            <hr style="
                border-bottom: 3px solid #f1cd0a;
                height: 1px;
                width: 83px;
                margin-top: 0px;
              " />
            <li>
              <a href="#" data-bs-toggle="modal" data-bs-target="#myModal" class="custom-link">Shipping & Returns</a>
            </li>
            <li>Secure Shopping</li>
            <li>Gallary</li>
            <li>Affiliates</li>
            <li>Contacts</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="mt-2">
            <h4>STORE INFORMATION</h4>
            <hr style="
                border-bottom: 3px solid #f1cd0a;
                height: 1px;
                width: 83px;
                margin-top: 0px;
              " />
            <li>Denver, Colorado</li>
            <li>Call Us: 123-456-7898</li>
            <li>Email Us: Support@Multikart.Com</li>
            <li>Fax: 123456</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <!-- <div #contactUs class="container mt-3">
    <div class="row">
      <div class="col-md-6 justify-content-center" style="margin-top: 100px"> -->
  <!-- Content for Section 1 goes here -->
  <!-- <h2 style="color: white">Contact Us</h2>
        <p style="color: white">
          Connect with a member of<br />
          our team to get more information <br />
          about our services.
        </p>
        <br />
        <br />
        <p style="color: white">
          ​Contact Details <br />
          Address : <br />
          Phone : 719-755-8510 <br />
          Email : springsmedride55@gmail.com <br />
          ​ Hours of Operations <br />
          Monday - Friday 4 AM -- 7 PM <br />
          Rides Available 24/7
        </p>
      </div> -->

  <!-- <div
        class="col-md-6 justify-content-center bg-secondary"
        style="margin-top: 100px; border-radius: 6px; padding-bottom: 10px"
      >
         Content for Section 2 goes here -->
  <!-- <div class="container mt-5">
          <h2>Contact Form</h2>
          <form
            [formGroup]="contactUsForm"
            (ngSubmit)="submitContactData()"
            novalidate
          >
            <div class="mb-3">
              <label for="fullName" class="form-label">Full Name</label>
              <input
                formControlName="fullName"
                type="text"
                class="form-control"
                id="fullName"
                name="fullName"
                placeholder="Enter your full name"
                required
              />
              <div
                *ngIf="fullName.touched && fullName.invalid"
                class="invalid-feedback"
              >
                Please enter your full name.
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                formControlName="email"
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter your email"
                required
              />
              <div
                *ngIf="email.touched && email.invalid"
                class="invalid-feedback"
              >
                Please enter a valid email address.
              </div>
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Phone</label>
              <input
                formControlName="phone"
                type="tel"
                class="form-control"
                id="phone"
                name="phone"
                placeholder="Enter your phone number"
                required
              />
              <div
                *ngIf="phone.touched && phone.invalid"
                class="invalid-feedback"
              >
                Please enter a valid phone number.
              </div>
            </div>
            <div class="mb-3">
              <label for="subject" class="form-label">Subject</label>
              <input
                formControlName="subject"
                type="text"
                class="form-control"
                id="subject"
                name="subject"
                placeholder="Enter the subject"
                required
              />
              <div
                *ngIf="subject.touched && subject.invalid"
                class="invalid-feedback"
              >
                Please enter the subject.
              </div>
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Message</label>
              <textarea
                formControlName="message"
                class="form-control"
                id="message"
                name="message"
                rows="5"
                placeholder="Enter your message"
                required
              ></textarea>
              <div
                *ngIf="message.touched && message.invalid"
                class="invalid-feedback"
              >
                Please enter your message.
              </div>
            </div>
            <button type="submit" class="btn btn-primary" style>Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div> -->

  <span style="color: white; font-size: 12px; margin-left: 83px">@ Copyright 2023 Blissful Zoe LLC | Web designed by web
    innovative Tech.
  </span>
</footer>

<!-- Modals -->


<div class="modal fade modal-full" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Shipping & Returns Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Shipping & Returns</h3>

        Dear Valued Customer,

        We want to make your shopping experience as smooth as possible, and that includes addressing any questions you
        might
        have about shipping and returns. Here's some essential information to guide you: <br />

        <h4>Shipping:</h4>

        Processing Time: We aim to process and ship your order as quickly as possible. Please allow [X] business days
        for
        processing before your order is dispatched.

        Shipping Options: We offer a variety of shipping options to suit your needs, including standard and expedited
        shipping.
        You can choose your preferred shipping method during the checkout process.

        Tracking Your Order: Once your order is shipped, you will receive a confirmation email with tracking
        information. You
        can use this information to monitor the progress of your shipment.<br />

        <h4>Returns:</h4>

        Return Policy: We understand that sometimes a product may not meet your expectations. If you are not completely
        satisfied with your purchase, please review our Return Policy for detailed instructions on initiating a return.

        Initiating a Return: To start the return process, log in to your account on our website and navigate to the "My
        Orders"
        section. Select the order you wish to return and follow the provided instructions. If you made a purchase as a
        guest,
        please contact our customer support team for assistance.

        Return Shipping: In most cases, you will be responsible for the cost of return shipping. Please package the item
        securely and use a reputable shipping service with tracking to ensure safe delivery.

        Refunds & Exchanges: Once we receive your returned item, we will inspect it and process your refund or exchange
        as per
        our policy. Please allow [X] business days for this process to be completed.

        If you have any specific questions about shipping or returns that are not covered here, don't hesitate to reach
        out to
        our customer support team at [contact-email] or [contact-phone]. We are here to assist you and ensure your
        satisfaction.

        Thank you for choosing us for your shopping needs. We appreciate your trust in our products and services. <br>

        Warm regards, <br /> <br />

        [Your Company Name] <br />
        Customer Support Team
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>