<style>
  .custom-card {
    width: 210px;
    /* */
  }
</style>

<div class="flex-container">
  <div class="left-column">
    <!-- Left Column -->
    <h4 class="fw-light">Catagories</h4>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Men
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
            <code>.accordion-flush</code> class. This is the first item's accordion body.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Women
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
            <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being
            filled
            with some actual content.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Kids
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
            <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
            happening
            here in terms of content, but just filling up the space to make it look, at least at first glance, a bit
            more
            representative of how this would look in a real-world application.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-column" data-bs-spy="scroll" data-bs-target="#navbar-example2">
    <!-- right Column -->

    <div class="container">
      <h5 class="fw-light">Men Selections</h5>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <div class="center-image">
              <img src="assets/mendress1.jpg" width="200" />
            </div>

            <div class="card-body d-flex flex-column">
              <!-- <p class="card-text flex-grow-1">Some text describing Card 1.</p> -->
              <div class="d-flex justify-content-between align-items-end">
                <span class="card-text">Men Suits</span>
                <button class="btn btn-primary" routerLink="/product-selection">Add
                  to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <p class="card-text flex-grow-1">Some text describing Card 2.</p>
              <div class="d-flex justify-content-between align-items-end">
                <span class="card-text"></span>
                <button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <p class="card-text flex-grow-1">Some text describing Card 3.</p>
              <div class="d-flex justify-content-between align-items-end">
                <span class="card-text">Add to Cart</span>
                <button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <p class="card-text flex-grow-1">Some text describing Card 4.</p>
              <div class="d-flex justify-content-between align-items-end">
                <span class="card-text">Card 4</span><button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="card mt-4">
            <div class="card-body d-flex flex-column">
              <p class="card-text flex-grow-1">Some text describing Card 5.</p>
              <div class="d-flex justify-content-between align-items-end">
                <span class="card-text">Card 5</span><button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card mt-4">
            <div class="card-body d-flex flex-column">
              <p class="card-text flex-grow-1">Some text describing Card 6.</p>
              <div class="d-flex justify-content-between align-items-end">
                <span class="card-text">Card 6</span>
                <button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card mt-4">
            <div class="card-body d-flex flex-column">
              <p class="card-text flex-grow-1">Some text describing Card 7.</p>
              <div class="d-flex justify-content-between align-items-end">
                <span class="card-text">Card 7</span><button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card mt-4">
            <div class="card-body d-flex flex-column">
              <p class="card-text flex-grow-1">Some text describing Card 8.</p>
              <div class="d-flex justify-content-between align-items-end">
                <span class="card-text">Card 8</span><button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <h4 class="fw-light">Women Selections</h4>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <p class="card-text flex-grow-1">Some text describing Card 1.</p>
              <div class="d-flex justify-content-between align-items-end">
                <span class="card-text">Card 1</span><button class="btn btn-primary">Add
                  to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <p class="card-text flex-grow-1">Some text describing Card 2.</p>
              <div class="d-flex justify-content-between align-items-end">
                <span class="card-text"></span>
                <button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <p class="card-text flex-grow-1">Some text describing Card 3.</p>
              <div class="d-flex justify-content-between align-items-end">
                <span class="card-text">Add to Cart</span>
                <button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <p class="card-text flex-grow-1">Some text describing Card 4.</p>
              <div class="d-flex justify-content-between align-items-end">
                <span class="card-text">Card 4</span><button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="card mt-4">
            <div class="card-body d-flex flex-column">
              <p class="card-text flex-grow-1">Some text describing Card 5.</p>
              <div class="d-flex justify-content-between align-items-end">
                <span class="card-text">Card 5</span><button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card mt-4">
            <div class="card-body d-flex flex-column">
              <p class="card-text flex-grow-1">Some text describing Card 6.</p>
              <div class="d-flex justify-content-between align-items-end">
                <span class="card-text">Card 6</span>
                <button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card mt-4">
            <div class="card-body d-flex flex-column">
              <p class="card-text flex-grow-1">Some text describing Card 7.</p>
              <div class="d-flex justify-content-between align-items-end">
                <span class="card-text">Card 7</span><button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card mt-4">
            <div class="card-body d-flex flex-column">
              <p class="card-text flex-grow-1">Some text describing Card 8.</p>
              <div class="d-flex justify-content-between align-items-end">
                <span class="card-text">Card 8</span><button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- scrollspy vertical menu -->

<!-- <div>
  <h2>Customer Selections</h2>
  <div class="container mb-4">
    <div class="row">
      <div class="col-md-1 custom-card">
        <div class="card customer-card">
          <div class="card-body d-flex flex-column">
            <p class="card-text flex-grow-1">Some text describing Card 8.</p>
            <div class="d-flex justify-content-between align-items-end">
              <span class="card-text">Card 8</span><button class="btn btn-primary">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1 custom-card">
        <div class="card customer-card">
          <div class="card-body d-flex flex-column">
            <p class="card-text flex-grow-1">Some text describing Card 8.</p>
            <div class="d-flex justify-content-between align-items-end">
              <span class="card-text">Card 8</span><button class="btn btn-primary">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1 custom-card">
        <div class="card customer-card">
          <div class="card-body d-flex flex-column">
            <p class="card-text flex-grow-1">Some text describing Card 8.</p>
            <div class="d-flex justify-content-between align-items-end">
              <span class="card-text">Card 8</span><button class="btn btn-primary">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1 custom-card">
        <div class="card customer-card">
          <div class="card-body d-flex flex-column">
            <p class="card-text flex-grow-1">Some text describing Card 8.</p>
            <div class="d-flex justify-content-between align-items-end">
              <span class="card-text">Card 8</span><button class="btn btn-primary">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1 custom-card">
        <div class="card customer-card">
          <div class="card-body d-flex flex-column">
            <p class="card-text flex-grow-1">Some text describing Card 8.</p>
            <div class="d-flex justify-content-between align-items-end">
              <span class="card-text">Card 8</span><button class="btn btn-primary">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1 custom-card">
        <div class="card customer-card">
          <div class="card-body d-flex flex-column">
            <p class="card-text flex-grow-1">Some text describing Card 8.</p>
            <div class="d-flex justify-content-between align-items-end">
              <span class="card-text">Card 8</span><button class="btn btn-primary">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->