// top of css for nav section
.green-div {
  background-color: #4fdd7e;
  height: 69px;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 78px;
}

.flex-item {
  padding: 20px;
  // border: 1px solid #000;
}
.icons {
  width: 30px;
}

// search input css
.search-container {
  display: flex;
  align-items: center;
  // border-bottom: 1px solid #000;
  padding-bottom: 5px;
}

.search-input {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  width: 100%;
  padding: 5px;
  background-color: #bff3d0;
}

//nav css
.navbar-brand {
  font-family: "Borel", cursive;
  font-size: 35px;
  color: black;
}
.gold-line {
  border-bottom: 3px solid #f1cd0a;
  // padding: 0 0 4px;
  margin: 17px 100px;
}

.custom-navbar {
  background-color: #d1f2dc !important;
}
.nav-bar {
  width: 100%;
  display: flex;

  .logo {
    flex: 0.4;
    display: flex;
    align-items: center;
  }

  .nav {
    flex: 0.6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      width: 100%;
      display: flex;
      align-items: center;
      list-style-type: none;

      li {
        padding: 10px;
        min-width: 50px;
        // border: 1px solid #0078d7;
        font-weight: 12px;
        margin-right: 20px;
        & a {
          text-decoration: none;
        }
      }
    }
  }
}
.active {
  color: #89f7ad !important;
}

li.nav-item {
  padding: 0px 54px 0 0;
  font-size: 18px;
}

/* Default style for anchor elements */
.nav-list li a {
  color: black; /* Default text color */
  text-decoration: none; /* Remove underlines from links */
  display: block; /* Display as block-level to fill parent width */
  padding: 10px; /* Add some padding */
  transition: background-color 0.3s, border-bottom-color 0.3s; /* Add smooth transition */
}

/* Default style for list items */
.nav-list li {
  border-bottom: 1px solid transparent; /* Transparent bottom border */
  text-align: center; /* Center-align the text */
  color: #bff3d0;
}

// .nav-list.a:hover,
// .navbar-light .navbar-nav .nav-link:hover {
//   color: #fff !important ;
// }

/* Change bottom border and background color on hover */
.nav-list li:hover {
  border-bottom-color: #89f7ad; /* Change bottom border color to red */
  background-color: lightgray; /* Change background color on hover */
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #89f7ad;
}

.mat-toolbar-single-row {
  margin-top: 29px;
  background: black;
}

.nav-bar[_ngcontent-ng-c2457042804]
  .nav[_ngcontent-ng-c2457042804]
  ul[_ngcontent-ng-c2457042804]
  li[_ngcontent-ng-c2457042804]
  a[_ngcontent-ng-c2457042804] {
  text-decoration: none;
  color: white;
}

.nav-bar[_ngcontent-ng-c2457042804]
  .nav[_ngcontent-ng-c2457042804]
  ul[_ngcontent-ng-c2457042804]
  li[_ngcontent-ng-c2457042804]
  a[_ngcontent-ng-c2457042804]:hover {
  text-decoration: none;
  color: #ffd100;
}

@media (max-width: 768px) {
  li.nav-item {
    padding: 0px;
    font-size: 15px;
    margin-left: 10px;
    font-size: 13px;
  }
}

@media (max-width: 425px) {
  li.nav-item {
    padding: 0px;
    font-size: 15px;
    margin-left: 10px;
    font-size: 11px;
  }
  .flex-item {
    padding: 3px;
    margin-top: 10px;
  }
}
