<!-- landing picture -->
<div class="image-container">
  <img src="assets/pic-top1.svg" alt="" class="centered-image" />
</div>

<!-- welcome message -->
<div class="welcome-text">
  <h3 class="card-title" style="text-align: center">Welcome to Blissful Zoe</h3>
  <p class="" style="text-align: center">
    Thank you for taking the time to visit our page. We value Your interest and
    hope you had a pleasant experience exploring Our products.
  </p>
</div>

<!-- men and women prom pics -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div
        class="d-flex align-items-center justify-content-center"
        style="height: 300px; background-color: #f0f0f0"
      >
        <p>Women pic</p>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="d-flex align-items-center justify-content-center"
        style="height: 300px; background-color: #d0d0d0"
      >
        <p>Men pic</p>
      </div>
    </div>
  </div>
</div>

<div class="mt-5">
  <h2>Best Selling Items</h2>
</div>

<!-- Best Sellings -->
<div class="bg-white">
  <div class="container pt-4 pb-4 pl-0 pr-0">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="assets/dummy-img1.png" class="card-img-top" alt="Image 1" />
          <div class="card-body">
            <p class="card-text text-green">Purple solid polo tshirt</p>
            <h5 class="card-title">$29.99</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="assets/dummy-img2.png" class="card-img-top" alt="Image 2" />
          <div class="card-body">
            <p class="card-text text-green">purple solid polo tshirt</p>
            <h5 class="card-title">$31.23</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="assets/dummy-img3.png" class="card-img-top" alt="Image 3" />
          <div class="card-body">
            <p class="card-text text-green">Candy red solid tshirt</p>
            <h5 class="card-title">$13.99</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img
            src="assets/dummy-img4.png"
            class="card-img-top"
            alt="Image 4"
            style="height: 456px"
          />
          <div class="card-body">
            <p class="card-text text-green">Multi-color polo tshirt</p>
            <h5 class="card-title">$24.23</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div>
  <div class="container bg-grey mt-5">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="assets/dummy-img1.png" class="card-img-top" alt="Image 1" />
          <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <h6 class="card-text text-grey">Sleevles white tshirt with text</h6>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="assets/dummy-img2.png" class="card-img-top" alt="Image 2" />
          <div class="card-body">
            <h5 class="card-title">Card 2</h5>
            <h6 class="card-text text-grey">Some content for Card 2.</h6>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="assets/dummy-img3.png" class="card-img-top" alt="Image 3" />
          <div class="card-body">
            <h5 class="card-title">Card 3</h5>
            <h6 class="card-text text-grey">Some content for Card 3.</h6>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img
            src="assets/dummy-img4.png"
            class="card-img-top"
            alt="Image 4"
            style="height: 456px"
          />
          <div class="card-body">
            <h5 class="card-title">Card 4</h5>
            <h6 class="card-text text-grey">Some content for Card 4.</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!--shiipend info-->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="flex-row">
        <div class="flex-column">
          <h4>Free Shipping</h4>
          <p class="text-green">Free Shipping World Wide</p>
        </div>
        <div class="flex-column">
          <h4>24 X 7 Service</h4>
          <p class="text-green">Online Service For New Customer</p>
        </div>
        <div class="flex-column">
          <h4>Festival Offer</h4>
          <p class="text-green">New Online Special Festival Offer</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FAQ -->
<!-- <div #faq>
  <app-faq></app-faq>
</div> -->
