.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px; /* Adjust as needed */
}

.centered-image {
  max-width: calc(100% - 200px); /* 200px on each side */
  margin-bottom: 133px;
}

.card-title,
.welcome-text {
  font-family: "Borel", cursive;
}

.welcome-text {
  margin-top: -101px;
}

h4 {
  margin-left: 101px;
}
// ------------end

@media (max-width: 1024px) {
  .responsive-text {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .responsive-text {
    font-size: 29px;
    text-align: left;
  }
  .contact-text {
    font-size: 18px;
  }
  .welcome-css {
    height: 580px;
    line-height: 1.5;
  }
}

@media (max-width: 425px) {
  .responsive-text {
    font-size: 32px;
  }
  .contact-text {
    font-size: 18px;
  }
  .custom-button {
    padding: 0px;
    text-align: center;
    padding: 0px 15px;
  }
  .mt-5 {
    margin-bottom: 10px;
  }
}
