.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.centered-image {
  min-width: calc(100% - 200px); /* 200px on each side */
  // margin-bottom: 33px;
}

.card-title,
.welcome-text {
  font-family: "Borel", cursive;
  text-align: center;
}

.text-green {
  color: #29a621;
}

// h2 {
//   margin-left: 73px;
// }

// <!--shiipend info-->
/* Custom CSS for centered flexbox row */
.flex-row {
  display: flex;
  align-items: center; /* Center-align the content vertically */
}

.flex-column {
  flex: 1;
  padding: 10px;
  background-color: #f0f0f09c;
  // border: 1px solid #ddd;
  text-align: center; /* Center-align the content horizontally */
}
// ------------end

@media (max-width: 1024px) {
  // .responsive-text {
  //   font-size: 40px;
  // }
}

@media (max-width: 768px) {
  // .responsive-text {
  //   font-size: 29px;
  //   text-align: left;
  // }
  // .contact-text {
  //   font-size: 18px;
  // }
  // .welcome-css {
  //   height: 580px;
  //   line-height: 1.5;
  // }
}

@media (max-width: 425px) {
  // .responsive-text {
  //   font-size: 32px;
  // }
  //   .contact-text {
  //     font-size: 18px;
  //   }
  //   .custom-button {
  //     padding: 0px;
  //     text-align: center;
  //     padding: 0px 15px;
  //   }
  //   .mt-5 {
  //     margin-bottom: 10px;
  //   }
}
