<div class="image-container">
  <img src="assets/pic-top1.svg" alt="" class="centered-image" />
</div>

<!-- welcome  -->
<div class="welcome-text">
  <h3 class="card-title fs-1 mt-4" style="text-align: center">
    Welcome to Blissful Zoe
  </h3>
  <p class="" style="text-align: center">
    Thank you for taking the time to visit our page. We value Your interest and
    hope you had a pleasant experience exploring Our products.
  </p>
</div>

<div>
  <h4>Best Selling Items</h4>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img
          src="https://via.placeholder.com/150"
          class="card-img-top"
          alt="Image 1"
        />
        <div class="card-body">
          <h5 class="card-title">Card 1</h5>
          <p class="card-text">Some content for Card 1.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          src="https://via.placeholder.com/150"
          class="card-img-top"
          alt="Image 2"
        />
        <div class="card-body">
          <h5 class="card-title">Card 2</h5>
          <p class="card-text">Some content for Card 2.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          src="https://via.placeholder.com/150"
          class="card-img-top"
          alt="Image 3"
        />
        <div class="card-body">
          <h5 class="card-title">Card 3</h5>
          <p class="card-text">Some content for Card 3.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          src="https://via.placeholder.com/150"
          class="card-img-top"
          alt="Image 4"
        />
        <div class="card-body">
          <h5 class="card-title">Card 4</h5>
          <p class="card-text">Some content for Card 4.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FAQ -->
<!-- <div #faq>
  <app-faq></app-faq>
</div> -->
